@model (IEnumerable<KartRiderMapDoc.Models.Track>,KartRiderMapDoc.Models.Track)
@{
    ViewBag.Title = "添加赛道";
    Track track = @Model.Item2;
    var Tracks = @Model.Item1;
}
<h2>@ViewData["Title"]</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>赛道名称</th>
            <th>赛道等级</th>
            <th>星级</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Tracks)
        {
            <tr>
                <td>@t.TrackName</td>
                <td>@t.Lev</td>
                <td>@t.Star</td>
                <td>
                    <a href="@Url.Action("Edit", "Track", new { id = t.Id })" class="btn btn-primary btn-sm">编辑</a>
                    <a href="@Url.Action("Delete", "Track", new { id = t.Id })" class="btn btn-danger btn-sm">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form method="post" asp-action="AddTrack">
    <div class="form-group">
        <label asp-for="@track.TrackName" class="control-label"></label>
        <input asp-for="@track.TrackName" class="form-control" />
        <span asp-validation-for="@track.TrackName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@track.Lev" class="control-label"></label>
        <input asp-for="@track.Lev" class="form-control" />
        <span asp-validation-for="@track.Lev" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@track.Star" class="control-label"></label>
        <input asp-for="@track.Star" class="form-control" type="number" />
        <span asp-validation-for="@track.Star" class="text-danger"></span>
    </div>
    <span>
        <partial>
            <button type="submit" class="btn btn-primary">提交</button>
        </partial>
    </span>
</form>

<div>
    <a href="@Url.Action("Index", "Track")">返回赛道列表</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}