@model ShowViewModel
@{
    ViewBag.Title = "玩家成绩统计";
    IEnumerable<Track> tracks = Model.Tracks;
}

<h2>玩家成绩统计</h2>

<form method="get" action="@Url.Action("Index", "Game")">
    <div>
        <h4>选择赛道</h4>
        @foreach (var track in tracks)
        {
            <label>
                @if(tracks != null && tracks.Any(val => val.TrackName.Contains(track.TrackName)))
                {
                    <input type="checkbox" name="selectedTracks" value="@track.TrackName" checked />
                }
                else
                {
                    <input type="checkbox" name="selectedTracks" value="@track.TrackName" />
                }
                @track.TrackName
            </label>
        }
    </div>
    <button type="submit">筛选</button>
</form>

@if (Model is null)
{
    <p>没有找到匹配的玩家数据。</p>
}
else
{
    @foreach (var track in @Model.Tracks)
    {
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>玩家名</th>
                    <th>@track.TrackName</th>
                    <th>成绩</th>
                    <th>等级</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Player player in Model.Players)
                {
                    if (player.TrackScores.Select(val=>val.PlayerId).Contains(track.Id))
                    {
                        <tr>
                            <td>@player.PlayerName</td>
                            <td>@track.TrackName</td>
                            <td>@player.Score</td>
                            <td>@player.Level</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>玩家名</th>
                <th>赛道</th>
                <th>成绩</th>
                <th>等级</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.Players)
            {
                <tr>
                    <td>@player.PlayerName</td>
                    <td>TrackName</td>
                    <td>@player.Score</td>
                    <td>@player.Level</td>
                </tr>
            }
        </tbody>
    </table>
}
