@model (Player,IEnumerable<Track>)
@{
    ViewBag.Title = "玩家成绩管理";
    Player player = @Model.Item1;
    IEnumerable<Track> Tracks = @Model.Item2;
}

<h2>输入或更新玩家成绩</h2>

<form method="post" action="/Game/AddOrUpdate">
    <div>
        <label for="PlayerName">玩家名:</label>
        <input type="text" id="PlayerName" name="PlayerName" value="@player.PlayerName" required />
    </div>

    <div>
        <label for="TrackName">赛道名:</label>
        <select id="TrackName" name="TrackName">
            @foreach (var track in Tracks)
            {
                @if (track.TrackName == player.TrackName)
                {
                    <option value="@track" selected>@track</option>
                }
                else
                {
                    <option value="@track">@track.TrackName</option>
                }

            }
        </select>
    </div>

    <div>
        <label for="Score">成绩:</label>
        <input type="datetime" id="Score" name="Score" value="@player.Score" required />
    </div>

    <button type="submit">保存</button>
</form>
